
<%- include('./layouts/main-layout-header') %>

<!-- Product Detail -->
<section class="sec-product-detail bg0 p-t-65 p-b-60">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 p-b-30">
                    <h1>Change profile Data</h1><br>

                    <!-- <div class="p-r-50 p-t-5 p-lr-0-lg"> -->
                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            <label for="">First Name</label>
                            <input type="text" name="firstName" value="<%= user.firstName %>" class="header-cart-item-txt p-t-8" readonly>
                        </h4>

                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            <label for="">Last Name</label>
                            <input type="text" name="lastName" value="<%= user.lastName %>" class="header-cart-item-txt p-t-8" readonly>
                        </h4>

                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            <label for="">Email</label>
                            <input type="text" name="email" value="<%= user.email %>" class="header-cart-item-txt p-t-8" readonly>
                        </h4>


                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            <label for="">Address</label>
                            <input type="text" name="address" value="<%= user.address%>" class="header-cart-item-txt p-t-8" readonly>
                        </h4>

                        <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                            <label for="">phone Number</label>
                            <input type="text" name="phoneNumber" value="<%= user.phoneNumber%>" class="header-cart-item-txt p-t-8" required>
                        </h4>

                        <a href="/orders">Back</a>
            </div>
                
            <div class="col-md-6 col-lg-5 p-b-30">

            </div>
        </div>
    </div>

    <div class="bg6 flex-c-m flex-w size-302 m-t-73 p-tb-15">
        <span class="stext-107 cl6 p-lr-25">
            SKU: JAK-01
        </span>

        <span class="stext-107 cl6 p-lr-25">
            Categories: Jacket, Men
        </span>
    </div>
</section>
<%- include('./layouts/main-layout-footer') %>




